body{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav{
    background-color: beige;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    margin: 0 100px;
    font-size: xx-large;
}

ul .right{
    display: flex;
    flex-direction: row;
}

ul .right li{
    padding-left: 50px;
}

.core{
    text-align: center;
    margin: 0 auto;
    width: 174vh;
    background-color: azure;
    height: 100vh;
}